@model Sic.Apollo.Models.Medical.Patient
@using Sic.Apollo
@using Sic.Web.Mvc
@using Sic
<h2>@Sic.Apollo.Resources.Resources.LabelForResume</h2>
<div class="scrollTabs">
    <div class="arrow_tab1">
    </div>
    <div id="resumeContentMessage">        
    </div>
    <div class="content_tab2">
        <div id="resumeVitalSigns">
            <div class="txt_az_18">
                @Sic.Apollo.Resources.Resources.LabelForPatientVitalSigns
            </div>
            @if (Model.ResumePatientVitalSigns.Any())
            {
                foreach (var patientVitalSign in Model.ResumePatientVitalSigns.OrderBy(p => p.VitalSign.Priority))
                {            
                <div class="resume_line">
                    <div class="box_text_resume_entry">@patientVitalSign.VitalSign.Name</div>
                    <div class="box_text_resume_value">
                        @patientVitalSign.Value.ToJSNumericValue() @(((Sic.MeasurementUnit)patientVitalSign.MeasuringUnit).GetDisplay(typeof(MeasurementUnit)))
                    </div>
                </div>    
                <div class="linebreak">
                </div>            
                }
            }
            else
            {
                <div class="box_text_message">
                    <center>@Sic.Apollo.Resources.Resources.LegendForInformationHasNotYetRegistered</center>
                </div>
            }
        </div>
        <div class="line_med_sep">
        </div>
        <div id="resumeMedicalCares">
            <div class="txt_az_18">
                @Sic.Apollo.Resources.Resources.LabelForMedicalHistories
            </div>
            @if (Model.MedicalCares.Any())
            {
                foreach (var medicalCare in Model.ResumeMedicalCares.Where(p=>!p.IsEmptyHeader).OrderByDescending(p => p.EvolutionDate))
                {                             
                        <div class="resume_line">
                            <div class="box_text_resume_entry">@medicalCare.EvolutionDate.ToDefaultDateFormat()</div>
                            @if(!string.IsNullOrWhiteSpace(medicalCare.Evolution))
                            {                            
                            <div class="box_text_resume_value">
                                @Sic.Apollo.Resources.Resources.LabelForMedicalCareEvolution: @medicalCare.Evolution
                            </div>
                            <div class="box_text_resume_entry"></div>
                            }
                            @if (!string.IsNullOrWhiteSpace(medicalCare.Diagnostic))
                            {
                                <div class="box_text_resume_value">
                                    @Sic.Apollo.Resources.Resources.LabelForMedicalCareDiagnostic: @medicalCare.Diagnostic
                                </div>
                                <div class="box_text_resume_entry"></div>
                            }
                            @if (!string.IsNullOrWhiteSpace(medicalCare.Treatment))
                            {
                                <div class="box_text_resume_value">
                                    @Sic.Apollo.Resources.Resources.LabelForMedicalCareTreatment: @medicalCare.Treatment
                                </div>
                            }
                        </div>                        
                    <div class="linebreak">
                    </div>            
                }
            }
            else
            {
                <div class="box_text_message">
                    <center>@Sic.Apollo.Resources.Resources.LegendForInformationHasNotYetRegistered</center>
                </div>
            }
        </div>
        <div class="line_med_sep">
        </div>
        <div id="resumeMedicalHistory">           
            @if (Model.ResumeMedicalHistories.Any())
            {
                foreach(var medicalProblemType in Model.ResumeMedicalHistories.Select(p=>p.MedicalProblem.MedicalProblemType).Distinct().OrderBy(p=>(int)p))
                {      
                    <div class="txt_az_18" style="margin-top:15px;">
                        @medicalProblemType.GetDisplay(typeof(MedicalProblemType))
                    </div>  
                  @*  <div class="linebreak">
                    </div>   *@                          
                    foreach (var medicalHistory in Model.ResumeMedicalHistories.
                        Where(p => p.MedicalProblem.MedicalProblemType == medicalProblemType).OrderByDescending(p => p.RecordDate))
                    {            
                    <div class="resume_line">
                        <div class="box_text_resume_entry">@medicalHistory.MedicalProblem.Name</div>
                        <div class="box_text_resume_value">
                            @medicalHistory.Description
                        </div>
                    </div>    
                    <div class="linebreak">
                    </div>            
                    }
                }
            }
            else
            {
                <div class="txt_az_18">
                    @Sic.Apollo.Resources.Resources.LabelForMedicalHistory
                </div>
                <div class="box_text_message">
                    <center>@Sic.Apollo.Resources.Resources.LegendForInformationHasNotYetRegistered</center>
                </div>
            }
        </div>
        <div class="line_med_sep">
        </div>
        <div id="resumePhysicalExamination">
            <div class="txt_az_18">
                @Sic.Apollo.Resources.Resources.LabelForPhysicalExamination
            </div>
            @if (Model.ResumePatientPhysicalExamination.Any())
            {
                foreach (var patientPhysicalExamination in Model.ResumePatientPhysicalExamination.OrderBy(p => p.PhysicalExamination.Priority))
                {            
                <div class="resume_line">
                    <div class="box_text_resume_entry">@patientPhysicalExamination.PhysicalExamination.Name</div>
                    <div class="box_text_resume_value">
                        @patientPhysicalExamination.Examination
                    </div>
                </div>    
                <div class="linebreak">
                </div>            
                }
            }
            else
            {
                <div class="box_text_message">
                    <center>@Sic.Apollo.Resources.Resources.LegendForInformationHasNotYetRegistered</center>
                </div>
            }
        </div>
    </div>
</div>
