@model Sic.Apollo.Models.Medical.ProfessionalPatient
@{
    ViewBag.Title = Model.Patient.Contact.FullName;
    ViewBag.OptionTitle = Model.Patient.Contact.FullName;
    Layout = "~/Views/Shared/_ProfessionalProfileLayout.cshtml";
    
    string defaultProfile = ViewBag.ProfileDefault!=null && Convert.ToBoolean(ViewBag.ProfileDefault)?"tabbertabdefault":"";
}
@section Imports{
<link href="@Url.ContentVersion("~/Content/styles/edit_profile_medical.css")" rel="stylesheet" type="text/css" />
<link href="@Url.ContentVersion("~/Content/styles/evolution.css")" rel="stylesheet" type="text/css" />
<link href="@Url.ContentVersion("~/Content/styles/medicalcare.css")" rel="stylesheet" type="text/css" />
<link href="@Url.ContentVersion("~/Content/styles/tabs.css")" rel="stylesheet" type="text/css" />
<link href="@Url.ContentVersion("~/Content/styles/medicationprint.css")" rel="stylesheet" type="text/css" />

<script src="@Url.ContentVersion("~/Scripts/custom/tabber.js")" type="text/javascript"></script>
<script src="@Url.ContentVersion("~/Scripts/apollo/medical-patient.js")" type="text/javascript"></script>
<script src="@Url.ContentVersion("~/Scripts/apollo/medical-patient-vitalsign.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/custom/datetime.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")" type="text/javascript"></script>*@

}
<!--tabs edicion-->
<script>
    setCurrentPatientId(@Model.Patient.PatientId);
</script>
<div id="content_tabs_edit">
    <div class="tabber">
        <div class="tabbertab">
            <div id="resumeEpicrisis">
                @{Html.RenderPartial("Resume", Model.Patient);}
            </div>                      
        </div>
        <div class="tabbertab @defaultProfile">
            @{Html.RenderPartial("Profile", Model.Patient);}
        </div>
        @*@if ((Sic.UserType)Sic.Web.Mvc.Session.UserType == Sic.UserType.Professional)
        {*@
        <div class="tabbertab">
            @{Html.RenderPartial("MedicalHistory", Model.Patient.MedicalHistories);}
        </div>
        <div class="tabbertab">
            @{Html.RenderPartial("VitalSigns", Model.Patient.PatientVitalSigns);}
        </div>
        <div class="tabbertab">
            @{Html.RenderPartial("MedicalCares", Model.Patient.MedicalCares);}
        </div>        
        <div class="tabbertab">
            @{Html.RenderPartial("PhysicalExamination", Model.Patient.PatientPhysicalExaminations);}
        </div>
       @* }*@
    </div>
</div>
