@model Sic.Apollo.Models.Medical.MedicalCare
@using Sic.Apollo

    <div style="position:relative" id="medicalCareItem@{@Model.MedicalCareId}">
        <div class="box_text_med">@Model.EvolutionDate.ToDefaultDateFormat()</div>
        @if(!string.IsNullOrWhiteSpace(Model.Evolution))
        {
        <div class="box_text_evolution">
            @Sic.Apollo.Resources.Resources.LabelForMedicalCareEvolution: @Model.Evolution
        </div>
        <div class="box_text_med"></div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Diagnostic))
        {
        <div class="box_text_evolution">
            @Sic.Apollo.Resources.Resources.LabelForMedicalCareDiagnostic: @Model.Diagnostic
        </div>
        <div class="box_text_med"></div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Treatment))
        {
        <div class="box_text_evolution">
            @Sic.Apollo.Resources.Resources.LabelForMedicalCareTreatment: @Model.Treatment
        </div>
        }
        @if (string.IsNullOrWhiteSpace(Model.Evolution) && string.IsNullOrWhiteSpace(Model.Diagnostic) && string.IsNullOrWhiteSpace(Model.Treatment))
        {
            <div class="box_text_evolution"></div>
        }
        @if ((DateTime.Now - Model.RecordDate.Date).TotalDays < 30)
        {
            <div style="float:left; margin-left:10px;">
                <a href="javascript:editMedicalCare(@{@Model.MedicalCareId})">
                    <div class="list_content_iconedit_one">
                    </div>    
               </a>      
               <a href="javascript:printMedications(@{@Model.MedicalCareId})">                     
                    <div medicalCareId="@{@Model.MedicalCareId}" style="cursor:pointer" class="list_content_iconprint_one printMedicationButton">
                    </div>
                </a>
                <a href="javascript:deleteMedicalCare(@{@Model.MedicalCareId},@{@Model.PatientId})">
                    <div class="list_content_icondelete_one">
                    </div>
                </a>
            </div>
        }
        <div class="box_text_med">
        </div>
        <div class="box_text_evolution_medication">
            <ul>
                @foreach (var medicine in Model.MedicalCareMedications)
                {
                    <li>@medicine.MedicationName</li>
                }
            </ul>
        </div>    
        <div class="linebreak"></div>
    <div class="evolutioneditcontent" id="editMedicalCare@{@Model.MedicalCareId}">            
    </div>
    </div>
    @*<div id="medicationprintlist@{@Model.MedicalCareId}" style="display:none">
        <ul class="list">
        @foreach (var medication in Model.MedicalCareMedications)
        {
            <li class="item">
            <div class="q">
                @(medication.Quantity>0?medication.Quantity.ToJSNumericValue():"") 
            </div>
            <div class="medication">@medication.MedicationName
            </div>
            <div class="posology">@medication.Posology
            </div>            
            </li>
            <div class="print_line_break"></div>    
        }
        </ul>
    </div>*@