@model IEnumerable<Sic.Apollo.Models.Medical.MedicalHistory>
@using Sic.Apollo
@using Sic.Web.Mvc
@using Sic
<h2>@Sic.Apollo.Resources.Resources.LabelForMedicalHistory</h2>
<div class="scrollTabs">
    <div class="arrow_tab3">
    </div>    
    <div class="content_tab2">
        @foreach (var problem in Model.Select(p => p.MedicalProblem.MedicalProblemType).Distinct().OrderBy(p=>(int)p))
        {                                    
            <div class="txt_az_18">
                @problem.GetDisplay(typeof(MedicalProblemType))
            </div>
            <div id="medicalHistoryContentMessage@{@((int)problem)}">        
            </div>
            <br />            
            foreach (var item in Model.Where(p => p.MedicalProblem.MedicalProblemType == problem).OrderBy(p => p.MedicalProblem.Priority))
            {
            <div class="box_text_med">@item.MedicalProblem.Name</div>        
            <div class="box_input_problem">
                @Html.TextArea("medicalproblem", item.Description, new { @class = "area_text_problem", id = item.MedicalProblemId, medicalproblemid = item.MedicalProblemId, medicalproblemtype = (int)problem, medicalhistoryid = item.MedicalHistoryId })
            </div> 
            }
            <div class="center_save_button">
                <center>
                    <input onclick="getMedicalHistoriesValues(@{@((int)problem)})" type="button" class="button_save_orange" value="@Sic.Apollo.Resources.Resources.LabelForSave" /></center>
            </div>
            <div class="linebreak"></div>
            <div class="line_med_sep"></div>
            <br />
        }        
    </div>
</div>
<script>
    function getMedicalHistoriesValues(type) {
        var values = "<medicalHistories>";
        $.each($("textarea[name=medicalproblem][medicalproblemtype=" + type +"]"), function (i, val) {
            values += '<mhe pid="' + $(val).attr("medicalhistoryid") + '"';
            values += ' mdpi="' + $(val).attr("medicalproblemid") + '"';            
            values += ' pd="' + $(val).val() + '"/>';
        });
        values += "</medicalHistories>";
        
        sicPost("@Url.Action("SaveMedicalProblem", "Patient")", { patientId : @{@ViewBag.PatientId}, medicalProblems: values} , 
        function (data) {
                $("#contentPanelMessage").appendTo("#medicalHistoryContentMessage" + type);
                setMessage(data.Message, data.MessageType);
                refreshResumeEpicrisis(patientId,'history');
        });
    }
</script>