@model IEnumerable<Sic.Apollo.Models.Medical.PatientVitalSign>
@{    
    DateTime currentDate = Sic.Web.Mvc.Session.CurrentDateTime.Date;
}
@using Sic.Apollo
@using Sic.Web.Mvc
@using Sic
<div class="txt_az_18">
    @Sic.Apollo.Resources.Resources.LabelForHistory
</div>
<div class="line_med_sep">
</div>
@foreach (var vitalSign in Model.Select(p => p.VitalSign).OrderBy(p => p.Priority).Distinct())
{
    <div class="title_vitalsign">
        @vitalSign.Name
    </div>
    foreach (var patientVitalSign in Model.Where(p => p.VitalSignDate.Date != currentDate && p.VitalSignId == vitalSign.VitalSignId).OrderByDescending(p => p.VitalSignDate))
    {                
    <div class="row_vital_sign_list">
        <div class="box_text_three">@patientVitalSign.VitalSignDate.ToDefaultDateFormat()</div>
        <div class="box_text_vitalsign">
            @patientVitalSign.Value.ToJSNumericValue() @(((Sic.MeasurementUnit)patientVitalSign.MeasuringUnit).GetDisplay(typeof(MeasurementUnit)))
        </div>
    </div>
    }
    <div class="line_med_sep">
    </div>
}