@model IEnumerable<Sic.Apollo.Models.Pro.View.Professional>
@{        
    string emptyPicture = Utils.DefaultProfessionalPicture;
}
<!--contenedor_resultado_busqueda-->
<div id="content_search_medical_general">
    @if (Model.Any())
    {
        Html.RenderPartial("_BoxHeaderProfessionalCalendar");
        foreach (var item in Model)
        {
            { Html.RenderPartial("_PresentationTip", item); }
        
        <div class="box_search_medical_information">
            <div class="information_medical">
                <div class="location_medical_icon_information">
                    <div id="icon_location">
                        <strong>@item.MarkerIndex</strong></div>
                </div>                
                <div id="cardBodyContent@{ @item.ContactLocationId }" style="position: relative;height: auto;float: left;">
                    <div class="img_medical_information">
                        <div class="img_profile_information_border">
                            @Html.ActionImage(string.IsNullOrEmpty(item.Picture) ? emptyPicture : item.Picture, item.FullName, "Presentation", "Professional", new { professional = item.UrlParameter, specializationId = item.SpecializationId, contactLocationId = item.ContactLocationId }
                    , null, new { width = 75, height = 110, @class = "triggertooltip" + item.ContactLocationId.ToString() })
                        </div>
                    </div>
                    <div class="information_medical_text">
                        <div>
                            <a class = "triggertooltip@{@item.ContactLocationId.ToString()}" href="@Url.Action("Presentation", "Professional", new { professional = item.UrlParameter, specializationId = item.SpecializationId, contactLocationId = item.ContactLocationId })">
                                <span class="txt_az_12_medico_profile"><strong>@item.DescriptionName</strong></span></a>
                        </div>
                        <div>
                            <span class="txt_gris_12">@item.SpecializationName</span></div>
                        <div>
                            <div class="content_star_ranking2">
                                @{ Html.RenderPartial("_Scorer", item.RateScore ?? 0); }
                            </div>
                        </div>
                        <div>
                            <span class="txt_gris_12">@item.Address</span>
                        </div>
                        <div>
                            <br />
                            <span>
                                @Html.ActionLink(Resources.LabelForBookProfessionalAppointment, "Presentation", "Professional", new { professionalId = item.ProfessionalId, contactLocationId = item.ContactLocationId, specializationId = item.SpecializationId }, new { @class = "button_orange" })
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="@Html.Encode("appointment" + @item.ContactLocationId)" class="appointmentEntries">
            </div>
            <div class="hours_none_right2">
            </div>
        </div>           
        }

        { Html.RenderAction("Search", "Booking", new { locationsId = ViewBag.LocationsId, specializationId = ViewBag.SpecializationValue }); }
    }
    else
    {
        <p>@Resources.LegendForNoFoundProfessional</p>
    }
</div>
