@model Sic.Apollo.Models.Appointment.View.CustomerAppointment

@{
    ViewBag.Title = Sic.Apollo.Resources.Resources.LabelForAppointmentCancel;
}

@using (Html.BeginForm(new { appointmentTransactionId = Model.AppointmentTransactionId }))
{
<h1>@Sic.Apollo.Resources.Resources.LabelForAppointmentCancel</h1>
<table>
    <tr>
        <td> 
            <p><b>@Sic.Apollo.Resources.Resources.LabelForDate: </b>@Model.StartDate</p>           
            <p>@Sic.Apollo.Resources.Resources.LegendForAppointmentCancelConfirmation</p>  
            <p>
                <input type="submit" value="@Sic.Apollo.Resources.Resources.LabelForAppointmentCancel" />                
            </p>          
        </td>
        <td>
            @{ Html.RenderAction("ProfessionalCard", "Professional", new { professionalId = Model.ProfessionalId, specializationId = Model.SpecializationId });}
        </td>
    </tr>
</table>      
}

<div>
    @Html.ActionLink(Sic.Apollo.Resources.Resources.LabelForMyAppointments, "CustomerMyAppointments")
</div>

