@model IEnumerable<Sic.Apollo.Models.Appointment.View.ContactLocationAppointments>
<div id="divappointments">
    @{
        if (ViewBag.StartDate == null)
        {
            ViewBag.StartDate = Sic.Web.Mvc.Session.CurrentDateTime;
        }

        if (ViewBag.InMaintenance == null)
        {
            ViewBag.InMaintenance = false;
        }
        if (ViewBag.VisibleDays == null)
        {
            ViewBag.VisibleDays = 7;
        }
        DateTime currentDate = Sic.Web.Mvc.Session.CurrentDateTime.Date;
        DateTime startDate = ViewBag.StartDate;
        IEnumerable<Sic.Apollo.Models.Appointment.View.DayOfWeek> DaysModel = ViewBag.DaysModel;
        string posStyle = "";
        int minApp = 7;
        if (ViewBag.Simple != null && !ViewBag.Simple)
        {
            posStyle = "2";
            minApp = 4;
        }
                
        
    }
    <script type="text/javascript">         
    @{
        int d = 1;
        foreach (Sic.Apollo.Models.Appointment.View.DayOfWeek day in DaysModel)
        {            
            <text>                                                     
            $(".dayName@{@d}").text('@Html.Raw(day.DayName)');                            
            $(".date@{@d}").text('@Html.Raw(day.Date.ToDefaultDateFormat())');
            </text>
            d++;
        }
        <text>                   
        $(".prev_calendarLink").attr('href','javascript:weekChange(@DaysModel.First().Date.AddDays(-7).Ticks);')        
        $(".next_calendarLink").attr('href','javascript:weekChange(@DaysModel.First().Date.AddDays(7).Ticks);')            
        </text>
        if (DaysModel.First().Date.Date == currentDate)
        {
            <text>
            $(".prevWeekEnable").hide();
            $(".prevWeekDisable").show();
            </text>
        }
        else
        {
            <text>
            $(".prevWeekEnable").show();
            $(".prevWeekDisable").hide();
            </text>
        }
        if (DaysModel.Last().Date.Date > currentDate.AddDays(60))
        {
            <text>
            $(".nextWeekEnable").hide();
            $(".nextWeekDisable").show();
            </text>
        }
        else
        {
            <text>
            $(".nextWeekEnable").show();
            $(".nextWeekDisable").hide();
            </text>
        }
    }    
    @foreach (var item in Model)
    {
        DateTime date = startDate.Date;
        string htmlcontent = "<div class=\"grid_hours" + posStyle + "\">";

        if (!item.AppointmentEntries.Any())
        {
            htmlcontent += "<div class=\"no_hours\">";
            //El Dr. Darwin Almeida no tiene citas disponibles por el momento. Lo podra encontrar a partir de las <span class="txt_az_13"><a href="#" class="txt_az_13">12:30</a></span>            
            htmlcontent += "<span class=\"center\">" + Sic.Apollo.Resources.Resources.LegendForNoAppointmentAvailable + "</span>";
            htmlcontent += "</div>";
        }
        else
        {
            for (int i = 0; i < ViewBag.VisibleDays; i++)
            {
                date = startDate.Date.AddDays(i);
                var list = item.AppointmentEntries.Where(p => p.StartDate.Date == date).OrderBy(p => p.StartDate);
                int countApp = 0;

                htmlcontent += "<div class=\"hours" + posStyle + "\"><ul class=\"txt_hours\">";

                foreach (var app in list)
                {
                    if (!ViewBag.InMaintenance)
                    {
                        countApp++;
                        if (countApp > minApp)
                        {
                            if (countApp == minApp + 1)
                            {
                                htmlcontent += string.Format("<div class=\"linkmoreapp{0}\"><li class=\"txt_hours\"><a class=\"txt_hours\" href='javascript:showMoreApp({0});'>" + Sic.Apollo.Resources.Resources.LabelForMore + "</a></li></div>", item.ContactLocationId);
                                htmlcontent += string.Format("<div class=\"moreapp{0}\" style=\"display: none\">", item.ContactLocationId);
                            }
                        }
                    }

                    if (!ViewBag.InMaintenance)
                    {
                        if (ViewBag.Reschudele == null || !ViewBag.Reschudele)
                        {
                            htmlcontent += string.Format("<li class=\"txt_hours\"><a href=\"\\Appointment\\Start?appointmentId={0}&specializationId={1}\" class=\"txt_hours\">{2:HH:mm}</a></li>", app.AppointmentId, ViewBag.SpecializationValue, app.StartDate);
                        }
                        else
                        {
                            htmlcontent += string.Format("<li class=\"txt_hours\"><a href=\"\\Appointment\\Reschedule?appointmentId={0}&reschudeleAppointmentTransactionId={1}\" class=\"txt_hours\">{2:HH:mm}</a></li>", app.AppointmentId, ViewBag.ReschudeleAppointmentTransactionId, app.StartDate);
                        }
                    }
                    else
                    {
                        htmlcontent += string.Format("<li class=\"txt_hours\">{0:HH:mm}</li>", app.StartDate);
                    }
                }
                if (countApp > minApp)
                {
                    htmlcontent += "</div>";
                }
                htmlcontent += "</ul></div>";
            }
        }
        htmlcontent += "</div>";        
        <text>                            
            var htmldiv = @Html.Raw(Json.Encode(htmlcontent));
            document.getElementById("appointment"+@item.ContactLocationId).innerHTML = htmldiv;
        </text>        
    }
    </script>
    <script>        
         locationsId = @Html.Raw(Json.Encode(ViewBag.LocationsId));  
         @if (ViewBag.InMaintenance)
         {   
             <text>         
             weekDays = @Html.Raw(Json.Encode(ViewBag.WeekDays));
             startTimeOfDay = @Html.Raw(Json.Encode(ViewBag.StartTimeOfDay));
             endTimeOfDay = @Html.Raw(Json.Encode(ViewBag.EndTimeOfDay));
             appointmenDuration = @Html.Raw(Json.Encode(ViewBag.AppointmenDuration));
             endDate = @Html.Raw(Json.Encode(ViewBag.EndDate));
             eachWeek = @Html.Raw(Json.Encode(ViewBag.ForEachWeek));
             startConfiguration = @Html.Raw(Json.Encode(ViewBag.StartConfiguration)); 
            
            appHoraryMode = 'SCHEDULE';
        </text>
        }
        else
        {
            <text>                     
            appHoraryMode = 'SEARCH';
            appSpecializationId = @Html.Raw(Json.Encode(ViewBag.SpecializationValue));             
            </text>
        }                 
    </script>
</div>
