@model Sic.Apollo.Models.Pro.Professional
@{
    Layout = "~/Views/Shared/_ProfessionalProfileLayout.cshtml";    
    ViewBag.Title = Sic.Apollo.Resources.Resources.LabelForProfessionalExperiences;
    ViewBag.OptionTitle = Sic.Apollo.Resources.Resources.LabelForEditProfile;    
}
@section Imports
{
<script src="@Url.Content("~/Scripts/custom/tabber.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/styles/edit_profile_medical.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/styles/tabs.css")" rel="stylesheet" type="text/css" />
}
<!--tabs edicion-->
<div id="content_tabs_edit">
    @{Html.RenderPartial("ProfileHeader");}
    <div class="content_box_edit">
        <div class="profile_arrow_tab6">
        </div>
        @{Html.RenderPartial("NotificationMessages");}
        @{ Html.RenderPartial("ExperienceIndex", Model.ProfessionalExperiences); }
    </div>
</div>
<!--fin tabs edicion-->

<script>
    var divExpandex = '';
    function deleteExperience(professionalExperienceId) {
        sicPost("@Url.Action("DeleteExperience","Professional")", {professionalExperienceId:professionalExperienceId}, 
        function(data){
            sicGet("@Url.Action("ExperienceIndex","Professional")", null, function(content){
                $('#divexperienceList').html(content);
            });                
        });        
    }
    function editExperience(professionalExperienceId, id, name) {       
        if (divExpandex != '') {
            $(divExpandex).html("");
        }
        //$("#institutions").attr("disabled", "disabled");
        if (professionalExperienceId == 0) {
            divExpandex = '#divexperience0';
            var url = encodeURI("/Professional/EditExperience?institutionId=" + id + "&institutionName=" + name);
            sicGet(url, null, function (data) {
                $(divExpandex).html(data);
            })            
        }
        else {
            divExpandex = '#divexperience' + professionalExperienceId;
            sicGet("@Url.Action("EditExperience","Professional")",{professionalExperienceId:professionalExperienceId},
                function(data){
                    $(divExpandex).html(data);
                });            
        }
    }
    @*$(function () {
        $("#institutions").keypress(function (event) {
            if (event.which == 13) {
                editExperience(0, 0, this.value);
            }
        });
        $("#institutions").autocomplete({
            source: '@Url.Action("ExperienceInstitutionsAutocomplete", "Institution")',
            minLength: 4,
            select: function (event, ui) {
                editExperience(0, ui.item.id, ui.item.value);
            }
        });
    });*@
</script>
