@model Sic.Apollo.Models.Pro.Professional
@{
    Layout = "~/Views/Shared/_ProfessionalProfileLayout.cshtml";
    ViewBag.Title = Sic.Apollo.Resources.Resources.TitleForProfessionalProfile;
    ViewBag.OptionTitle = Sic.Apollo.Resources.Resources.LabelForEditProfile;    
}
@section Imports
{
<script src="@Url.Content("~/Scripts/chosen/chosen.jquery.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/custom/tabber.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/themes/base/chosen/chosen.css")" rel="stylesheet"  type="text/css" />
<link href="@Url.ContentVersion("~/Content/styles/edit_profile_medical.css")" rel="stylesheet" type="text/css" />
<link href="@Url.ContentVersion("~/Content/styles/tabs.css")" rel="stylesheet" type="text/css" />
}
<!--tabs edicion-->
<div id="content_tabs_edit">
    @{Html.RenderPartial("ProfileHeader");}
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="content_box_edit">
            <div class="profile_arrow_tab1">
            </div>
            @{Html.RenderPartial("NotificationMessages");}
            <div class="content_tab1">
                @Html.HiddenFor(model => model.ProfessionalId)
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.FirstName)</div>
                <div class="box_input_form">
                    @Html.TextBoxFor(model => model.Contact.FirstName, new { @class = "input_text" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.FirstName)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.MiddleName) @Sic.Apollo.Resources.Resources.LabelForFieldOptional</div>
                <div class="box_input_form">
                    @Html.TextBoxFor(model => model.Contact.MiddleName, new { @class = "input_text" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.MiddleName)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.LastName)</div>
                <div class="box_input_form">
                    @Html.TextBoxFor(model => model.Contact.LastName, new { @class = "input_text" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.LastName)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.SecondLastName) @Sic.Apollo.Resources.Resources.LabelForFieldOptional</div>
                <div class="box_input_form">
                    @Html.TextBoxFor(model => model.Contact.SecondLastName, new { @class = "input_text" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.SecondLastName)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.ProfessionalDescription)</div>
                <div class="box_input_form">
                    @Html.TextAreaFor(model => model.ProfessionalDescription, new { @class = "area_text" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.ProfessionalDescription)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.Gender)</div>
                <div class="box_input_form">
                    @Html.DropDownListFor(model => model.Contact.Gender, Sic.Gender.Male.ToSelectList(), new { @class = "select_input_form", id = "newPatientGender" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.Gender)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.BirthDate)</div>
                <div class="box_input_form">
                    <div class="content_select_date">
                        @Html.DropDownDayOfMonthListFor(model => model.Contact.BirthDateDay, new { @class = "select_date" })
                        <div>
                            <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.BirthDateDay)</span>
                        </div>
                    </div>
                    <div class="content_select_date">
                        @Html.DropDownMonthListFor(model => model.Contact.BirthDateMonth, new { @class = "select_date" })
                        <div>
                            <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.BirthDateMonth)</span>
                        </div>
                    </div>
                    <div class="content_select_date">
                        @Html.DropDownYearListFor(model => model.Contact.BirthDateYear, new { @class = "select_date" })
                        <div>
                            <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.BirthDateYear)</span>
                        </div>
                    </div>
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.BirthDate)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.PhoneNumber)</div>
                <div class="box_input_form">
                    @Html.TextBoxFor(model => model.Contact.PhoneNumber, new { @class = "input_text" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.PhoneNumber)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.CellPhone)</div>
                <div class="box_input_form">
                    @Html.TextBoxFor(model => model.Contact.CellPhone, new { @class = "input_text" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.CellPhone)</span>
                    </div>
                </div>
                <div class="box_text_form">@Sic.Apollo.Resources.Resources.LabelForProfessionalSpecializations</div>
                <div class="box_input_form">
                    @Html.ListBox("SpecializationMultiSelect", ViewBag.SpecializationsList as MultiSelectList, new { @class = "chzn-select area_text", data_placeholder = @Sic.Apollo.Resources.Resources.HintForSpecializations })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.ProfessionalSpecializations)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.Email)</div>
                <div class="box_input_form">
                    @Html.TextBoxFor(model => model.Contact.Email, new { @class = "input_text" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.Email)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.FacebookAccount) @Sic.Apollo.Resources.Resources.LabelForFieldOptional</div>
                <div class="box_input_form">
                    @Html.TextBoxFor(model => model.Contact.FacebookAccount, new { @class = "input_text" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.FacebookAccount)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.TwitterAccount) @Sic.Apollo.Resources.Resources.LabelForFieldOptional</div>
                <div class="box_input_form">
                    @Html.TextBoxFor(model => model.Contact.TwitterAccount, new { @class = "input_text" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.TwitterAccount)</span>
                    </div>
                </div>
                <div class="box_text_form">@Html.LabelFor(model => model.Contact.GooglePlusAccount)
                    @Sic.Apollo.Resources.Resources.LabelForFieldOptional</div>
                <div class="box_input_form">
                    @Html.TextBoxFor(model => model.Contact.GooglePlusAccount, new { @class = "input_text" })
                    <div>
                        <span class="error_field">@Html.ValidationMessageFor(model => model.Contact.GooglePlusAccount)</span>
                    </div>
                </div>
                <div class="center_save_button">
                    <center><input type="submit" class="button_save_orange" value="@Sic.Apollo.Resources.Resources.LabelForSave" /></center>
                </div>
            </div>
        </div>
        
    }
</div>
<!--fin tabs edicion-->
<script>
    $(".chzn-select").chosen();     
</script>
