<!--footer-->
<div id="footer_info">
    <div class="box_footer">
        <div class="center_box_footer">
            <div class="text_box_footer">
                <span class="txt_ol_16">@Sic.Apollo.Resources.Resources.LabelForNeedHelp</span></div>
            <div class="text_box_footer">
                <div id="ico_phone">
                </div>
            </div>
            <div class="text_box_footer">
                <span class="txt_ol_16">@Sic.Apollo.Resources.Resources.LabelForCallUs</span></div>
            <div class="text_box_footer">
                <div id="ico_mail">
                </div>
            </div>
            <div class="text_box_footer">
                <span class="txt_ol_16"><a href="mailto:info@socialmedical.com.ec" target="_blank" class="txt_ol_16">info@@socialmedical.com.ec</a></span></div>
        </div>
    </div>
    <div id="line_footer">
    </div>
    <div class="box_footer_terms">
        <div id="footer_copy">
            <div>
                <span style="text-align:left; margin-left:1px;" class="txt_grv_12">@Sic.Apollo.Resources.Resources.LabelForCopyright</span></div>
            <div>
                <a  style="text-align:left; margin-left:1px;" href="#" class="txt_grv_12">@Sic.Apollo.Resources.Resources.LabelForAboutUs</a> | <a href="#" class="txt_grv_12">@Sic.Apollo.Resources.Resources.LabelForTermsAndConditions
                </a> | <a style="text-align:left; margin-left:1px;" href="#" class="txt_grv_12">@Sic.Apollo.Resources.Resources.LabelForPrivacyPolicy</a></div>
        </div>
        <div id="footer_social">
            <div>
                <span class="txt_grv_12">@Sic.Apollo.Resources.Resources.LabelForFollowUs</span></div>
            <div>
                <ul id="navlist_redes">
                    <li id="twitter"><a href="http://@Sic.Apollo.Resources.Resources.LabelForApplicationTwitterPage" target="_blank"></a></li>
                    <li id="fb"><a href="http://@Sic.Apollo.Resources.Resources.LabelForApplicationFacebookPage" target="_blank"></a></li>
                    <li id="gp"><a href="http://@Sic.Apollo.Resources.Resources.LabelForApplicationGooglePlusPage" target="_blank"></a></li>
                </ul>
            </div>
        </div>
        <div>
            <div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
