@model Sic.Apollo.Models.Security.SignIn    
@if (!Sic.Web.Mvc.Session.IsLogged)
{
    using (Html.BeginForm("LoginVerify", "Account", new
    {
        appointmentId = ViewBag.AppointmentId,
        specializationId = ViewBag.SpecializationId
    }, FormMethod.Post, new
    {
        id = "LoginForm"
    }))
    {
    <div id="content_login_box">
        @if (Model.LoginFor == Sic.Apollo.Models.Security.SignIn.LoginAction.PopUp) {
        <div id="content_login_box_arrow">
        </div>
        }
        @if (Model.LoginFor == Sic.Apollo.Models.Security.SignIn.LoginAction.Appointment)
        {
            @Sic.Apollo.Resources.Resources.LegendForReturningCustomer
        }
        <div>
            <span class="txt_az_15">@Sic.Apollo.Resources.Resources.LabelForLogonName (@Sic.Apollo.Resources.Resources.LabelForEmail)</span>
        </div>
        <div>
            @Html.TextBoxFor(m => m.LogonName, new { id = "login_box_LogonName", 
            //placeholder = Sic.Apollo.Resources.Resources.LabelForLogonName, 
            @class = "box_login_form" })
            @Html.ValidationMessageFor(m => m.LogonName)
        </div>
        <div>
            <span class="txt_az_15">@Sic.Apollo.Resources.Resources.LabelForPassword</span>
        </div>
        <div>
            @Html.PasswordFor(m => m.Password, new { id = "login_box_Password", 
                //placeholder = Sic.Apollo.Resources.Resources.LabelForPassword, 
                @class = "box_login_form" })
            @Html.ValidationMessageFor(m => m.Password)
            @Html.HiddenFor(model => model.LoginFor, new { id = "login_box_For" })
        </div>
        <div>
            <span><a href="#" class="txt_az_13">Olvido su contraseña</a></span><br />
        </div>
        @if (Model.LoginFor == Sic.Apollo.Models.Security.SignIn.LoginAction.PopUp)
        {                                                   
            <div>
                <center>             
                                <input id="loginsubmit" type="button" class="button_orange" value="@Sic.Apollo.Resources.Resources.LabelForLogin"/> 
                            </center>
            </div>                                   
        }
        else
        {                                        
            <div>
                <center>  
                                <input type="submit" class="button_orange" value="@Sic.Apollo.Resources.Resources.LabelForSignIn"/>
                            </center>
            </div>        
        }
        <div>
            <label class="txt_az_15" id="loginMessage" />
        </div>
    </div>
    }
    
    <script>
        $("#login_box_LogonName").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#login_box_Password").focus();
            }
        });
        $("#login_box_Password").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#loginsubmit").click();
            }
        });
        $("#loginsubmit").click(
                function () {
                    sicPost("/Account/LoginVerify",
                        {
                            logonName: $('#login_box_LogonName').val(),
                            password: $('#login_box_Password').val(),
                            loginFor: $('#login_box_For').val(),
                        },
                        function (data, status, xhr) {
                            if (data.Success) {                                
                                if (data.Location != '') {
                                    location.href = data.Location;
                                }
                                else {
                                    $('#login_box').hide();
                                    sicGet("@Url.Action("LoginButton","Account")",null,function(data)
                                    {
                                        $('#LoginSection').html(data);
                                    });
                                    sicGet("@Url.Action("Menu","Account")",null,function(data)
                                    {
                                        $('#MenuSection').html(data);
                                    });
                                }
                            } else {
                                $('#loginMessage').text(data.Message);
                            }
                        });
                }

                        );
    </script>            
}