<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> 
<html>
<head>
    <link rel="icon" type="image/png" href="@Url.ContentImage("favicon.png")" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.ContentImage("favicon.ico")" />
    @Url.ImportStyleSheet("style.css",true)
    @Url.ImportStyleSheet("font-awesome.min.css")
    @Url.ImportStyleSheet("bootstrap.min.css")

    @Url.ImportStyleSheet("base_medical_profile.css",true)
    @Url.ImportStyleSheet("fonts/stylesheet.css",true)
    @Url.ImportStyleSheet("tapmodo-jcrop/jquery.Jcrop.min.css", true)
    @Url.ImportStyleSheet("apollo/professional/medical_calendar_book.css", true)
    @Url.ImportStyleSheet("jquery.tools/jquery.tooltip.css", false)
    @Url.ImportStyleSheet("themes/base/jquery.ui.autocomplete.css")
    @Url.ImportStyleSheet("themes/base/jquery.ui.core.css")
    @Url.ImportStyleSheet("themes/base/jquery.ui.datepicker.css")
    @Url.ImportStyleSheet("themes/base/jquery.ui.theme.css")
    @Url.ImportStyleSheet("dialog.css")    
    @Url.ImportStyleSheet("gen/jquery.gritter.css")        
    @Url.ImportStyleSheet("shortcodes.css") @*tab animation*@    
    @RenderSection("LinksImport", false)
      
    @Url.ImportScript("jquery-1.7.2.min.js")
    @Url.ImportScript("jquery-ui-1.8.21.custom.min.js")
    @Url.ImportScript("bootstrap.min.js",true)    
    @Url.ImportScript("modernizr-1.7.min.js")
    @Url.ImportScript("jquery.validate.min.js")
    @Url.ImportScript("jquery.validate.unobtrusive.min.js")
    @Url.ImportScript("sic/datetime.js", true)
    @Url.ImportScript("sic/validation.js", true)
    @Url.ImportScript("tapmodo-jcrop/jquery.Jcrop.min.js")
    @Url.ImportScript("apollo/cropimage.js", true)
    @Url.ImportScript("select.js")
    @Url.ImportScript("apollo/message.js", true)
    @Url.ImportScript("jquery.tools/jquery.tools.tooltip.min.js")
    @Url.ImportScript("sic/core.js", true)
    @Url.ImportScript("sic/modernizer.js", true)
    @Url.ImportScript("apollo/professional/professionalProfile.js", true)    
    @Url.ImportScript("jquery.gritter.min.js")                
    @Url.ImportScript("sic/ui.js", true)
    @Url.ImportScript("apollo/base.js", true)

    @RenderSection("ScriptsImport", false)

    @RenderSection("Imports", false)
    <title>@ViewBag.Title</title>
    @RenderSection("meta", false) 
    @{Html.RenderPartial("_NotificationMessages");}
</head>
<body>
    @{Html.RenderPartial("_Dialog");}
    <!--Header-->
    <div id="header">
        <div id="header_inner">
            <a href="@Url.Action("Index", "Home")">
                <div id="logo">
                </div>
            </a>
            @{ Html.RenderPartial("_LoginButton"); }
        </div>
    </div>
    <!--FINCabecera-->
    <div id="wrapper">
        <div id="margintop_wrapper">
        </div>
        <!--reservar cita-->
        @{
            Sic.Apollo.ProfessionalOption option = (Sic.Apollo.ProfessionalOption)ViewBag.ProfessionalOption;
            string headerClass = "";
            switch(option)
            {
                case Sic.Apollo.ProfessionalOption.ProfessionalBook:
                    headerClass = "top_book_medical";    
                    break;
                default:
                    headerClass = "top_edit_medical";    
                    break;
            }            
        }
        <div class="@{@headerClass}">
            <span class="txt_az_18">@ViewBag.OptionTitle</span>
        </div>

        <div id="content_info">
            <!--inicio left medical-->
            <div id="content_medical_left">
                @{Html.RenderAction("Options", "Profile", new { option = ((int)ViewBag.ProfessionalOption) });}
            </div>
            <!--fin left medical-->
            @RenderBody()
        </div>
        <!--reservar cita-->
        @{ Html.RenderPartial("_Footer");}
        <!--wrapperr-->
    </div>
</body>
</html>

<script>
 @{
        if (!String.IsNullOrEmpty(ViewBag.Message))
        {
            if(String.IsNullOrEmpty(ViewBag.MessageType))
            {
                ViewBag.MessageType = Sic.Constants.MessageType.Information;
            }

            <text>setMessage('@Html.Raw(ViewBag.Message.ToString())', '@ViewBag.MessageType.ToString()');</text>
        }   
    }
</script>
