<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="@Url.ContentImage("favicon.png")" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.ContentImage("favicon.ico")" />

    @Url.ImportStyleSheet("style.css", true)
    @Url.ImportStyleSheet("fonts/stylesheet.css")
    @Url.ImportStyleSheet("themes/base/jquery-ui.css")
    
    @Url.ImportScript("jquery-1.7.2.min.js")    
    @Url.ImportScript("jquery-ui-1.8.21.custom.min.js")
    @Url.ImportScript("modernizr-1.7.min.js")
    @Url.ImportScript("sic/core.js")
    
    @RenderSection("Imports", false)
    <title>@ViewBag.Title</title>
    @RenderSection("meta", false) 
</head>
<body>
    <!--Header-->
    <div id="header">
        <div id="header_inner">
            <div id="logo">
            </div>
        </div>
    </div>
    <!--FINCabecera-->
    <!--wrapper-->
    <div id="wrapper">
        <div id="main">
            @RenderBody()
        </div>
        @{ Html.RenderPartial("_Footer");}
        <!--wrapperr-->
    </div>
</body>
</html>
