<div id="box_search_general">
    <div id="empieza_busqueda">
        <span class="txt_bl_21">@Sic.Apollo.Resources.Resources.LabelForStartYourSearch</span>
    </div>
    @using (Html.BeginForm("Search", "Professional", FormMethod.Get))
    {
        <div id="box_search_form">
            <div class="text_form">
                <span class="txt_bl_13"><label for="SpecializationId">@Sic.Apollo.Resources.Resources.LabelForSpecialistIn</label></span>
            </div>
            <div class="boxs_form">
                @Html.DropDownList("SpecializationId", (SelectList)ViewBag.SpecializationSelectedList, Sic.Apollo.Resources.Resources.LabelForEmptySearchSpecialization, new { @class = "styled" })
            </div>
            <div class="text_form">
                <span class="txt_bl_13"><label for="CityId">@Sic.Apollo.Resources.Resources.LabelForLocatedAt</label></span>
            </div>
            <div class="boxs_form">
                @Html.DropDownList("CityId", (SelectList)ViewBag.CitySelectedList, Sic.Apollo.Resources.Resources.LabelForEmptySearchCity, new { @class = "styled" })
            </div>
            <div class="text_form">
                <span class="txt_bl_13"><label for="InsuranceInstitutionId">@Sic.Apollo.Resources.Resources.LabelForAccept</label></span>
            </div>
            <div class="boxs_form">
                @Html.DropDownList("InsuranceInstitutionId", (SelectList)ViewBag.InsuranceInstitutionSelectedList, Sic.Apollo.Resources.Resources.LabelForEmptySearchInsuranceInstitution, new { @class = "styled" })
            </div>
            <div class="text_form">
                <span class="txt_bl_13"><label for="ProfessionalName">@Sic.Apollo.Resources.Resources.LabelForSearchProfessionalByName</label></span>
            </div>
            <div class="boxs_form">
                @Html.TextBox("ProfessionalName", null, new { @class = "input_text" })
            </div>
            <div class="text_form">
                <input type="submit" value="@Sic.Apollo.Resources.Resources.LabelForSearch"  class="button_orange center_button_search" />
            </div>            
        </div>
    } 
    <div id="ribbon_free">
    </div>   
</div>