@model Sic.Apollo.Models.Pro.Specialization

@{
    ViewBag.Title = @Sic.Apollo.Resources.Resources.LabelForCreateNew;
}
@section meta{
    <meta name="robots" content="noindex,nofollow"/>
}
<h2>@Sic.Apollo.Resources.Resources.LabelForCreateNew</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Sic.Apollo.Resources.Resources.LabelForSpecialization</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Priority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Priority)
            @Html.ValidationMessageFor(model => model.Priority)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Profession)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Profession)
            @Html.ValidationMessageFor(model => model.Profession)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Help)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Help)
            @Html.ValidationMessageFor(model => model.Help)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>        

        <p>
            <input type="submit" value="@Sic.Apollo.Resources.Resources.LabelForCreateNew" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Sic.Apollo.Resources.Resources.LabelForBackToList, "Index")
</div>
