@model IEnumerable<Sic.Apollo.Models.Medical.PatientVitalSign>
@{
    int lineCount = 0;
    DateTime currentDate = Sic.Web.Mvc.Session.CurrentDateTime.Date;
}
<div style="margin-top:15px;">
    <input id="searchVitalSign" type="text2" class="input-block-level img_search_input"
           placeholder="@LabelFor.HintSearchVitalSign">
</div>

<div class="box_info_person">
    <div class="circle_title_box_info"></div><div style="margin-left:20px; width:600px" class="title_box_info">
        <div class="float title_section_content">@TitleFor.EpicrisisPatientVitalSigns</div>
        <div id="vitalSignDateTrigger" class="float title_edit_box">
            <div class="float content_ico_edit_title">
                <i class="fa fa-calendar"></i>
            </div>
            <div id="vitalSignDateLabel" class="float title_section_content">@currentDate.ToDefaultDateFormat() </div>
        </div>
    </div>
    <input type="text" id="vitalSignDateInput" class="datepickerhiddeitem" />
    <div class="content_signs">


        @foreach (var vitalSign in Model.Where(p => p.VitalSignDate.Date == currentDate).OrderBy(p => p.VitalSign.Priority))
        {
            lineCount++;
            @*if (lineCount == 1)
                {
                    @:@(new HtmlString("<div class=\"box_signs\">"))
                }*@
            <div vsc class="vital_sign_entry">
                <div class="txt_signs_vitals"><span vs>@vitalSign.VitalSign.Name</span></div>
                <div class="input_signs_vitals">
                    @Html.TextBox("vitalsign-value", vitalSign.Value, new { code = vitalSign.VitalSign.Code, unit = vitalSign.MeasuringUnit, patientVitalSignId = vitalSign.PatientVitalSignId, vitalSignId = vitalSign.VitalSignId, @class = "form-control input-mini text-right" })
                </div>
                <div class="unit_signs_vitals">@(((Sic.MeasurementUnit)vitalSign.MeasuringUnit).GetDisplay(typeof(MeasurementUnit))) </div>
            </div>
            @*if (lineCount == 3)
                {
                    //@:@(new HtmlString("</div><div class=\"line_separator_vitalsign\"></div>"))
                    @:@(new HtmlString("</div>"))
                lineCount = 0;
                }*@
        }
        @*@if (lineCount != 0)
            {
                @:@(new HtmlString("</div>"))
                }*@

        <div class="content_buttom_box"><button id="btvitalsignupdate" type="button" class="btn btn-warning btn-medium">@LabelFor.SaveAction</button></div>
    </div>
</div>
<div id="vitalSignHistory">
    @{Html.RenderPartial("~/Areas/Professional/Views/VitalSign/_VitalSignsHistory.cshtml", Model);}
</div>











@*<h2>@Sic.Apollo.Resources.Resources.LabelForPatientVitalSigns</h2>
    <div class="scrollTabs">
        <div class="arrow_tab4">
        </div>
        <div id="vitalSignContentMessage">
        </div>
        @{
            int lineCount = 0;
            DateTime currentDate = Sic.Web.Mvc.Session.CurrentDateTime.Date;
        }
        <div class="content_tab2" vitalsign-edit-content>
            <div id="vitalSignDateLabel" class="txt_az_18 label_input_trigger label_date_trigger">
                @currentDate.ToDefaultDateFormat()
            </div>
            <input type="text" id="vitalSignDateInput" style="display:none" />
            <br />
            @foreach (var vitalSign in Model.Where(p => p.VitalSignDate.Date == currentDate).OrderBy(p => p.VitalSign.Priority))
            {
                lineCount++;
                if (lineCount == 1)
                {
                    @:@(new HtmlString("<div class=\"row_vital_sign\">"))
                }
                <div>
                    <div class="box_text_three">
                        @vitalSign.VitalSign.Name
                    </div>
                    <div class="box_input_three">
                        @Html.TextBox("vitalsign-value", vitalSign.Value, new { code = vitalSign.VitalSign.Code, unit = vitalSign.MeasuringUnit, patientVitalSignId = vitalSign.PatientVitalSignId, vitalSignId = vitalSign.VitalSignId, @class = "input_text_three" })
                    </div>
                    <div class="box_text_three_aux">
                        @(((Sic.MeasurementUnit)vitalSign.MeasuringUnit).GetDisplay(typeof(MeasurementUnit)))
                    </div>
                </div>
                if (lineCount == 3)
                {
                    @:@(new HtmlString("</div>"))
                                                                            lineCount = 0;
                }
            }
            @if (lineCount != 0)
            {
                @:@(new HtmlString("</div>"))
            }
            <div class="center_save_button">
                <center><input onclick="getvitalSignValues()" type="button" class="button_save_orange" value="@Sic.Apollo.Resources.Resources.LabelForSave" /></center>
            </div>
            <div id="vitalSignHistory">
                @{Html.RenderPartial("~/Areas/Professional/Views/VitalSign/_VitalSignHistory.cshtml", Model);}
            </div>
        </div>
    </div>*@
