@model Sic.Apollo.Models.Medical.View.Patient
@{
    ViewBag.Title = Model.FullName;
    ViewBag.OptionTitle = Model.FullName;
    Layout = "~/Views/Shared/_ProfessionalProfileLayout.cshtml";

    string defaultProfile = ViewBag.ProfileDefault != null && Convert.ToBoolean(ViewBag.ProfileDefault) ? "tabbertabdefault" : "";
}
@section Imports{
    @Url.ImportStyleSheet("info_person.css", true)
    @*@Url.ImportStyleSheet("edit_profile_medical.css", true)
        @Url.ImportStyleSheet("apollo/professional/evolution.css", true)
        @Url.ImportStyleSheet("apollo/professional/medicalcare.css", true)
        @Url.ImportStyleSheet("tabs.css", true)
        @Url.ImportStyleSheet("apollo/professional/medicationprint.css", true)*@
    @Url.ImportStyleSheet("jquery.fancybox/jquery.fancybox.css", true)

    @Url.ImportScript("fancy/jquery.fancybox.pack.js", true)
    @Url.ImportScript("tabber.js", true)
    @Url.ImportScript("apollo/professional/medical-patient.js", true)
    @Url.ImportScript("apollo/professional/medical-patient-vitalsign.js", true)
    @Url.ImportScript("apollo/professional/medical-patient-files.js", true)
    @Url.ImportScript("apollo/professional/medical-patient-history.js", true)
    @Url.ImportScript("sic/datetime.js", true)
}
<!--tabs edicion-->
<script>
    setCurrentPatientId(@Model.PatientId);
</script>
<div id="content">
    <div class="content_info_person">
        <div class="header_content_info_person">
            <div class="header_content_info_person_text">
                <div>Paciente</div>
                <div class="header_content_info_person_text_name">@Model.FullName</div>
                <div>Ultima Visita 13/12/2013</div>
            </div>
            <div class="header_content_info_person_img"><img width="60" height="60" src="/Content/img/contacts/DefaultProfessional.jpg" class="img-circle"></div>
        </div>

        <!-- Start Tabs -->
        <div class="tabbable">

            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#epicrisis_resume" data-toggle="tab">@TitleFor.EpicrisisPatientResume</a></li>
                <li><a href="#epicrisis_profile" data-toggle="tab">@TitleFor.EpicrisisPatientProfile</a></li>
                <li><a href="#epicrisis_medical_history" data-toggle="tab">@TitleFor.EpicrisisPatientMedicalHistories</a></li>
                <li><a href="#epicrisis_vitalsign" data-toggle="tab">@TitleFor.EpicrisisPatientVitalSigns</a></li>
                <li><a href="#epicrisis_medicalcares" data-toggle="tab">@TitleFor.EpicrisisPatientMedicalCares</a></li>
                <li><a href="#epicrisis_physical_ex" data-toggle="tab">@TitleFor.EpicrisisPatientPhysicalExamination</a></li>
                <li><a href="#epicrisis_patient_files" data-toggle="tab">@TitleFor.EpicrisisPatientFiles</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="epicrisis_resume">
                   @{Html.RenderPartial("_EpicrisisResume", Model);}
                </div>
                <div class="tab-pane fade in" id="epicrisis_profile">                    
                    @{Html.RenderPartial("~/Areas/Professional/Views/Patient/_EditProfile.cshtml", Model);}
                </div>
                <div class="tab-pane fade in" id="epicrisis_medical_history">
                    @{Html.RenderPartial("~/Areas/Professional/Views/MedicalHistory/_MedicalHistory.cshtml", Model.MedicalHistories);}
                </div>
                <div class="tab-pane fade in" id="epicrisis_vitalsign">
                    @{Html.RenderPartial("~/Areas/Professional/Views/VitalSign/_VitalSigns.cshtml", Model.PatientVitalSigns);}
                </div>
                <div class="tab-pane fade in" id="epicrisis_medicalcares">
                    @{Html.RenderPartial("_EpicrisisResume", Model);}
                </div>
                <div class="tab-pane fade in" id="epicrisis_physical_ex">
                    @{Html.RenderPartial("_EpicrisisResume", Model);}
                </div>
                <div class="tab-pane fade in" id="epicrisis_patient_files">
                    @{Html.RenderPartial("_EpicrisisResume", Model);}
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="content_tabs_edit">
        <div class="tabber">
            <div class="tabbertab">
                <div id="resumeEpicrisis">
                    @{Html.RenderPartial("_EpicrisisResume", Model.Patient);}
                </div>
            </div>
            <div class="tabbertab @defaultProfile">
                @{Html.RenderPartial("_EditProfile", Model.Patient);}
            </div>
            <div class="tabbertab">
                @{Html.RenderPartial("~/Areas/Professional/Views/MedicalHistory/_MedicalHistory.cshtml", Model.Patient.MedicalHistories);}
            </div>
            <div class="tabbertab">
                @{Html.RenderPartial("~/Areas/Professional/Views/VitalSign/_VitalSigns.cshtml", Model.Patient.PatientVitalSigns);}
            </div>
            <div class="tabbertab">
                @{Html.RenderPartial("~/Areas/Professional/Views/MedicalCare/_MedicalCares.cshtml", Model.Patient.MedicalCares);}
            </div>
            <div class="tabbertab">
                @{Html.RenderPartial("~/Areas/Professional/Views/PhysicalExamination/_PhysicalExamination.cshtml", Model.Patient.PatientPhysicalExaminations);}
            </div>
            <div class="tabbertab">
                @{Html.RenderPartial("~/Areas/Professional/Views/PatientFiles/_PatientFiles.cshtml", Model.Patient.PatientFiles);}
            </div>
        </div>
    </div>*@
