@model Sic.Apollo.Models.Appointment.View.ProfessionalAppointment

@{
    ViewBag.Title = Sic.Apollo.Resources.Resources.LabelForConfirmNotAttended;
}

@using (Html.BeginForm(new { appointmentTransactionId = Model.AppointmentTransactionId, attentionNotes = Model.AttentionNotes}))
{
    <h1>@Sic.Apollo.Resources.Resources.LabelForConfirmNotAttended</h1>

    <p><b>@Sic.Apollo.Resources.Resources.LabelForCustomer: </b>@Model.FullName</p>           
    <p><b>@Sic.Apollo.Resources.Resources.LabelForDate: </b>@Model.StartDate</p> 
    <p><b>@Sic.Apollo.Resources.Resources.LabelForAttentionNotes</b></p>
    <p>@Html.TextAreaFor(p => p.AttentionNotes)</p>                    
    <p>@Sic.Apollo.Resources.Resources.LegendForConfirmNotAttended</p>  
    <p>
        <input type="submit" value="@Sic.Apollo.Resources.Resources.LabelForConfirmNotAttended" />                
    </p>             
}

<div>
    @Html.ActionLink(Sic.Apollo.Resources.Resources.LabelForAppointmentsCalendar, "ProfessionalBook")
</div>
