@model IEnumerable<Sic.Apollo.Models.Appointment.View.ProfessionalAppointment>

<table>
    <tr>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForDate
        </th>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForCustomer
        </th>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForInsurance
        </th>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForReasonForVisit
        </th>
         <th>
            @Sic.Apollo.Resources.Resources.LabelForContactPhoneNumber
        </th>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForCustomerNotes
        </th>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForAttentionNotes
        </th>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForAppointmentState
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(model => item.AppointmentId)
            @Html.HiddenFor(model => item.AppointmentTransactionId)
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>             
                 @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceInstitution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForVisit)
            </td>    
             <td>
                @Html.DisplayFor(modelItem => item.ContactPhoneNumber)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CustomerNotes)
            </td> 
            <td>   
                @Html.DisplayFor(modelItem => item.AttentionNotes)                                            
            </td> 
             <td>
                @Html.DisplayFor(modelItem => item.StateDisplay)
            </td>  
            <td>                                               
            </td>     
        </tr>
    }
</table>