@model Sic.Apollo.Models.Appointment.View.AppointmentTransaction
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    ViewBag.Title = Sic.Apollo.Resources.Resources.LabelForBookYourAppointment;
}
<link href="@Url.Content("~/Content/styles/book_appointment_flow.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/custom/customvalidation.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/custom/select.js")" type="text/javascript"></script>

<div id="margintop_wrapper">
</div>

<div id="top_book">
    <span class="txt_az_18">@Sic.Apollo.Resources.Resources.LabelForBookYourAppointment</span>
</div>
@using (Html.BeginForm("Details", "Appointment"))
{
    @Html.HiddenFor(model => model.AppointmentId)
    @Html.HiddenFor(model => model.ContactLocationId)
    @Html.HiddenFor(model => model.CustomerId)
    @Html.HiddenFor(model => model.ProfessionalId)
    @Html.HiddenFor(model => model.SpecializationAppointmentReasonId)
    @Html.HiddenFor(model => model.InsuranceInstitutionId)
    @Html.HiddenFor(model => model.UseInsurance)

    <div id="content_book">
        <div id="info_book">
            <div id="progres_proces2">
            </div>
            <div class="content_text_progress1">
                <span class="txt_grv_13"><strong>@Sic.Apollo.Resources.Resources.LabelForInfoVisit</strong></span></div>
            <div class="content_text_progress2">
                <span class="txt_grv_13"><strong>@Sic.Apollo.Resources.Resources.LabelForInfoCustomer</strong></span></div>
            <div class="content_text_progress3">
                <strong>@Sic.Apollo.Resources.Resources.LabelForFinish</strong></div>
            <div id="form_book">
                <div class="textform_book">
                    <span class="txt_az_13"><strong>@Sic.Apollo.Resources.Resources.LegendForContactNumber</strong></span></div>
                <div>
                    <div class="boxsform">
                        @Html.TextBoxFor(model => model.ContactPhoneNumber, new { @class = "input_text" })
                        @Html.ValidationMessageFor(model => model.ContactPhoneNumber)
                    </div>
                </div>
                <div class="textform_book">
                    <span class="txt_az_15">
                        @Html.CheckBoxFor(p => p.SendMeReminder, new { @class = "styled" })
                    </span><strong><span class="txt_az_13">@Sic.Apollo.Resources.Resources.LegendForSendMeReminder</span></strong></div>
                <div class="textform_book">
                    <span class="txt_az_13"><strong>@Sic.Apollo.Resources.Resources.LegendForCustomerNotes</strong></span></div>
                <div>
                    <div class="textareaform_book">
                        @Html.TextAreaFor(p => p.CustomerNotes, new { @class = "input_text_area" })
                        @Html.ValidationMessageFor(model => model.CustomerNotes)
                    </div>
                </div>
                <div>
                    <br />                    
                    <input type="submit"  class="btn_next" id="button" value="@Sic.Apollo.Resources.Resources.LabelForContinue" />
                </div>
            </div>
        </div>
        @{ Html.RenderPartial("ProfessionalInfoCard", Model);}
    </div>
}