@model Sic.Apollo.Models.Appointment.View.ProfessionalAppointment
@using Sic.Apollo
<div id="appointmentTransactionContent@{@Model.AppointmentTransactionId}">
    <div class="patient_hour triggertooltip@{@Model.AppointmentTransactionId}">
        <div class="childTriggertooltip@{@Model.AppointmentTransactionId}">
            <div>
                @Model.FullName
            </div>
            <div class="icons_hour_patient">
                <div id="loader@{@Model.AppointmentTransactionId}" style="display:none">
                    <img src="@Url.Content("~/Content/images/loader.gif")" alt=""/>
                </div>
                <div id="icon@{@Model.AppointmentTransactionId}">
                    @switch (Model.AppointmentState)
                    {
                        case Sic.AppointmentState.Obsolete:
                        <div class="icon_obsolete_appointment">
                        </div>        
                            break;
                        case Sic.AppointmentState.PendingConfirmation:
                        <div class="icon_for_confirmation_appointment">
                        </div>                                
                            break;
                        case Sic.AppointmentState.Confirmed:                                
                        <div class="icon_definite_appointment">
                        </div>                                    
                            break;
                        case Sic.AppointmentState.Attended:
                        <div class="icon_ok_appointment">
                        </div>                                
                            break;
                        case Sic.AppointmentState.NotAttended:
                        <div class="icon_not_ok_appointment">
                        </div>               
                            break;
                        case Sic.AppointmentState.Canceled:
                        <div class="icon_cancel_appointment">
                        </div>
                            break;
                        case Sic.AppointmentState.Rated:
                        <div class="icon_calification_appointment">
                        </div>
                            break;
                    }
                </div>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("AppointmentTip", Model); }
    @if (((DateTime)ViewBag.StartDate).Date >= ((DateTime)ViewBag.CurrentDateTime).Date)
    {
        int side = 2;//Left
        if (Model.StartDate < ((DateTime)ViewBag.StartDate).Date.AddDays(3))
        {
            side = 1;//Right
        }        
        <div class="tooltip" id="tooltipOverFlow@{@Model.AppointmentTransactionId}" onclick="javascript:openNewAppointmentDialog(@Model.StartDate.Ticks, @Model.EndDate.Ticks, '@(Model.StartDate.ToDefaultDateTimeFormat())',@side,true);">
            <div class="patient_hour">
                @Sic.Apollo.Resources.Resources.LabelForOverTurn
            </div>
        </div>
    }
</div>
