@model IEnumerable<Sic.Apollo.Models.Appointment.View.CustomerAppointment>

<table>
    <tr>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForDate
        </th>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForProfessional
        </th>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForYourInsurance
        </th>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForReasonForVisit
        </th>
        <th>
            @Sic.Apollo.Resources.Resources.LabelForAppointmentState
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(model => item.AppointmentId)
            @Html.HiddenFor(model => item.AppointmentTransactionId)
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>      
                 @{ Html.RenderAction("ProfessionalCard", "Professional", new { professionalId = item.ProfessionalId, contactLocationId = item.ContactLocationId, specializationId = item.SpecializationId });}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceInstitution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateDisplay)
            </td>
             @if (ViewBag.NextAppoinment != null && ViewBag.NextAppoinment)
             {
                <td>           
                    @*@Ajax.ActionLink(Sic.Apollo.Resources.Resources.LabelForCancel, "Cancel", new { appointmentTransactionId = item.AppointmentTransactionId }, new AjaxOptions { HttpMethod = "POST" }) |                    *@
                    @Html.ActionLink(Sic.Apollo.Resources.Resources.LabelForReschedule, "CustomerReschedule", item) |
                    @Html.ActionLink(Sic.Apollo.Resources.Resources.LabelForCancel, "CustomerCancel", item)                        
                </td>
             }
             else if (item.State == (int)Sic.AppointmentState.Attended)
             { 
                 <td>@Html.ActionLink(Sic.Apollo.Resources.Resources.LabelForRate, "CustomerRate", item)</td>
             }
        </tr>
    }
</table>