@model IEnumerable<Sic.Apollo.Models.Appointment.View.DayOfWeek>
         
<!--calendar-->

<div class="control_move">
<div class="day_none">
@if (Model.First().Date.Date != Sic.Web.Mvc.Session.CurrentDateTime.Date)
{   
    <a href='javascript:weekChange(@Model.First().Date.AddDays(-7).Ticks);'><div id="prev_calendar"></div></a>
}
else
{    
    <div></div>
}
</div>
<div class="date_none"></div>
<div class="hours_none"></div>
</div>

<div class="content_grid">


<div class="grid_day">
@foreach (var item in Model)
            {
                <div class="day">@item.DayName</div>                                
            }
</div>

<div class="grid_date">
@foreach (var item in Model)
            {
                <div class="date">@item.Date.ToDefaultDateTimeFormat()</div>
            }
</div>

@*<div>
    <table>
        <tr>
            <td style="width: 70px;">
                @if (Model.First().Date.Date != Sic.Web.Mvc.Session.CurrentDateTime.Date)
                {        
                    @:<a href='javascript:weekChange(@Model.First().Date.AddDays(-7).Ticks);'>@Sic.Apollo.Resources.Resources.LabelForBefore</a>
                }
            </td>
            @foreach (var item in Model)
            {
                <td style="width: 70px;">
                    <p>@item.DayName</p>
                    <p>@item.Date.ToShortDateString()</p>
                </td>
            }
            <td style="width: 70px;">
                <a href='javascript:weekChange(@Model.First().Date.AddDays(7).Ticks);'>@Sic.Apollo.Resources.Resources.LabelForAfter</a>
            </td>
        </tr>
    </table>
</div>
*@