@model Sic.Apollo.Models.Medical.MedicalCare
@{
    DateTime currentDate = Sic.Web.Mvc.Session.CurrentDateTime.Date;
}

<div class="tabbable" style="height:420px">

    <ul class="nav nav-tabs" id="myTabEvolution">
        <li class="active"><a href="#tabevolution" data-toggle="tab">@TitleFor.EpicrisisPatientResume</a></li>
        <li><a href="#tabmedicine" data-toggle="tab">@TitleFor.EpicrisisPatientProfile</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tabevolution">

            <div class="box_info_person noborder" style="background-color:#f0f5f7;">
                <div class="circle_title_box_info"></div><div class="title_box_info">
                    <div id="medicalcareeditdate" class="float title_edit_box">
                        <div class="float content_ico_edit_title">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div id="medicalCareDateLabel" class="float title_section_content">@currentDate.ToDefaultDateFormat() </div>
                    </div>
                </div>

                <div style="width: auto; height: 290px; position: relative; margin-top: 35px;">

                    <div class="box_edit_txt_evolution1">@LabelFor.MedicalCareEvolution</div>
                    <div class="box_edit_input_evolution1">
                        <textarea id="newEvolution" class="form-control input-xxlarge" rows="3">
                            @Model.Treatment
                        </textarea>
                    </div>
                    <div class="box_edit_txt_evolution1">@LabelFor.MedicalCareDiagnostic</div>
                    <div class="box_edit_input_evolution1">
                        <textarea id="newDiagnostic" class="form-control input-xxlarge" rows="3">
                            @Model.Treatment
                        </textarea>
                    </div>
                    <div class="box_edit_txt_evolution1">@LabelFor.MedicalCareTreatment</div>
                    <div class="box_edit_input_evolution1">
                        <textarea id="newTreatment" class="form-control input-xxlarge" rows="3">
                            @Model.Treatment
                        </textarea>
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-pane fade in" id="tabmedicine">

            <div class="box_info_person noborder" style="background-color:#f0f5f7;">
                <div class="circle_title_box_info"></div><div class="title_box_info">

                    <div class="float content_ico_edit_title">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div id="medicalCareDateLabel" class="float title_section_content">@LabelFor.Medicine </div>
                    <button type="button" style="margin-left:20px" class="float btn btn-info btn-medium"><i class="fa fa-print"></i></button>
                    
                </div>

                <div class="medication_content_edit" style="height:290px">
                    <div class="medication_box">@LabelFor.Medicine</div>
                    <div class="medication_box">@LabelFor.Posology</div>
                    <div class="medication_box_quantity">@LabelFor.Quantity</div>

                    @{
                        foreach (var medication in Model.MedicalCareMedications.OrderBy(p => p.Priority))
                        {
                            <div class="medication_box">
                                <textarea name="medicineName" class="form-control input-large vademecumSearch" rows="3">
                                    @medication.MedicationName
                                </textarea>
                            </div>
                            <div class="medication_box">
                                <textarea name="posology" class="form-control input-large" rows="3">
                                    @medication.Posology
                                </textarea>
                            </div>
                            <div class="medication_box_quantity"><input type="text" name="quantity" class="form-control input-mini" value="@(medication.Quantity > 0 ? medication.Quantity.ToJSNumericValue() : "")"></div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content_buttons_medication_save">
    <button type="button" class="btn btn-warning btn-medium">@LabelFor.SaveAction</button>
    @*<button type="button" class="btn btn-info btn-medium">Guardar e Imprimir</button>*@
    <button type="button" class="btn btn-primary btn-medium">@LabelFor.CancelAction</button>
</div>

@*@using (Html.BeginForm("MedicalCare", "Patient", FormMethod.Post, new { id = "patientEvolutionForm" }))
    {

        <div id="medicalCareDateLabel" class="txt_az_18 label_input_trigger label_date_trigger label_date_medical_care">
            @Model.EvolutionDate.ToDefaultDateFormat()
        </div>
        <div class="top_save_button_medical_care">
            <center>
                <input onclick="updateMedicalHistory(@Model.MedicalCareId,false)" type="button" class="button_save_orange" value="@Sic.Apollo.Resources.Resources.LabelForSave" />
                <input onclick="updateMedicalHistory(@Model.MedicalCareId,true)" type="button" class="button_save_orange" value="@Sic.Apollo.Resources.Resources.LabelForSaveAndPrint" />
                <input onclick="cancelUpdateMedicalHistory()" type="button" class="button_save_orange" value="@Sic.Apollo.Resources.Resources.LabelForCancel" />
            </center>
        </div>
        <input type="text" id="medicalCareDateInput" style="display: none; clear:both;" />
        <br />
        <div class="box_text_med">@Sic.Apollo.Resources.Resources.LabelForMedicalCareEvolution</div>
        <div class="box_input_med">
            @Html.TextAreaFor(model => model.Evolution, new { @class = "area_text_big", id = "newEvolution" })
            <div>
                <span class="error_field">@Html.ValidationMessageFor(model => model.Evolution)</span>
            </div>
        </div>
        <div class="box_text_med">@Sic.Apollo.Resources.Resources.LabelForMedicalCareDiagnostic</div>
        <div class="box_input_med">
            @Html.TextAreaFor(model => model.Diagnostic, new { @class = "area_text_big", id = "newDiagnostic" })
            <div>
                <span class="error_field">@Html.ValidationMessageFor(model => model.Diagnostic)</span>
            </div>
        </div>
        <div class="box_text_med">@Sic.Apollo.Resources.Resources.LabelForMedicalCareTreatment</div>
        <div class="box_input_med">
            @Html.TextAreaFor(model => model.Treatment, new { @class = "area_text_big", id = "newTreatment" })
            <div>
                <span class="error_field">@Html.ValidationMessageFor(model => model.Treatment)</span>
            </div>
        </div>
        <div class="linebreak">
        </div>
        @*<div class="line_med_sep"></div>
        <br />
        <div class="txt_az_18">
            @Sic.Apollo.Resources.Resources.LabelForMedication
        </div>
        <ul class="evolution_medicine_list">
            <li class="evolution_medicine_list_title">
                <div class="medicine">
                    @Sic.Apollo.Resources.Resources.LabelForMedicine
                </div>
                <div class="posology">
                    @Sic.Apollo.Resources.Resources.LabelForPosology
                </div>
                <div class="quantity">
                    @Sic.Apollo.Resources.Resources.LabelForQuantity
                </div>
            </li>
            @{  int i = 1;
              int breaks = 1;
              foreach (var medication in Model.MedicalCareMedications.OrderBy(p => p.Priority))
              {
                  if (i == 1 && breaks > 1)
                  {
                    <li id="showMoreMedication" class="itemmore">
                        <span onclick="moreShowMedication()">@Sic.Apollo.Resources.Resources.LabelForMore</span>
                    </li>
                    @:@(new HtmlString("<div style=\"display:none\" id=\"medicationBreak" + breaks + "\">"))
                        }
                        <li class="item" medicineitem="@{@medication.Priority}" medicineid="@medication.MedicalCareMedicationId">
                            <textarea class="box_input_medicine vademecumSearch" name="medicineName">@medication.MedicationName</textarea>
                            <textarea class="area_text_posology" name="posology">@medication.Posology</textarea>
                            <input type="text" class="box_input_quantity" name="quantity" value="@(medication.Quantity > 0 ? medication.Quantity.ToJSNumericValue() : "")" />
                        </li>
                  if (i == 5)
                  {
                      i = 0;
                      if (breaks > 1)
                      {
                        <li class="itemmore">
                            <span onclick="lessShowMedication()">@Sic.Apollo.Resources.Resources.LabelForLess</span>
                        </li>
                        @:@(new HtmlString("</div>"))
                            }
                      breaks++;
                  }
                  i++;
              }
            }
        </ul>
        <div class="linebreak">
        </div>
        <div class="center_save_button">
            <center>
                <input onclick="updateMedicalHistory(@Model.MedicalCareId,false)" type="button" class="button_save_orange" value="@Sic.Apollo.Resources.Resources.LabelForSave" />
                <input onclick="updateMedicalHistory(@Model.MedicalCareId,true)" type="button" class="button_save_orange" value="@Sic.Apollo.Resources.Resources.LabelForSaveAndPrint" />
                <input onclick="cancelUpdateMedicalHistory()" type="button" class="button_save_orange" value="@Sic.Apollo.Resources.Resources.LabelForCancel" />
            </center>
        </div>
        @*<div class="center_save_button">
                <center><input onclick="newMedicalHistory()" type="button" class="button_save_orange" value="@Sic.Apollo.Resources.Resources.LabelForSave" /></center>
            </div>   //
    }*@
