@model Sic.Apollo.Models.Pro.Professional
@{
       DateTime date = Sic.Web.Mvc.Session.CurrentDateTime;
       bool multipleOffice = (((Sic.Apollo.Models.Pro.Professional)ViewBag.Professional).ProfessionalOffices.Count() > 1);
}
@*<div id="medicationPrint" class="medication_print">
    <div class="title">@Model.DescriptionName3</div>
    <ul class="header list_specialization">
    @foreach (var pspecialization in Model.ProfessionalSpecializations)
    {    
        @:<li>@pspecialization.Specialization.Profession</li>
    }   
    </ul>    
    @foreach (var office in Model.ProfessionalOffices)
    {        
    <div id="medicationoffice@{@office.ContactLocationId}" class="medicationoffice" style="display:none">
        <div class="header officetitle">@office.Address</div>
        <div class="header">@office.DefaultPhoneNumberDescription</div>
        <div class="header">@string.Format("{0}, {1:dd MMMM yyyy}", office.City.Name, date)</div>
    </div>
    }    

    <div class="header patient">@Sic.Apollo.Resources.Resources.LabelForCustomer: <span id="medicationpatientName">@ViewBag.PatientName</span></div>
    <ul class="list">
        <li class="item">
            <div class="q">
            @Sic.Apollo.Resources.Resources.LabelForQuantity
            </div>
            <div class="medication">@Sic.Apollo.Resources.Resources.LabelForMedicine
            </div>
            <div class="posology">@Sic.Apollo.Resources.Resources.LabelForIndications
            </div>
        </li>
    </ul>    
    <div id="medicationprintlist">    
    </div>    
</div>
*@
<div id="officeSelect" style="display:none">                     
            <div class="dialog_message">
                <strong>@Sic.Apollo.Resources.Resources.MessageForSelectOfficePrintMedication</strong>
            </div>
            <div class="info_tooltip_div">
                @{bool first = true;}                
                @foreach (var office in ((Sic.Apollo.Models.Pro.Professional)ViewBag.Professional).ProfessionalOffices)
                {                    
                    <div style="cursor:pointer; margin-top:5px;" id="officeButton@{@office.ContactLocationId}" class="office @{@(first ? " office_active" : " office_inactive")}" contactLocationId="@{@office.ContactLocationId}" onclick="selectOffice(@{@office.ContactLocationId})">
                    <span id="address@{@office.ContactLocationId}">@office.Address</span></div>                    
                    first = false;
                }                          
            </div>
            <div class="dialog_buttons">    
                <input type="button" class="dialog_button" value="@Sic.Apollo.Resources.Resources.LabelForPrint" onclick="printMedicationsConfirmation()" /> 
                <input type="button" class="dialog_button" value="@Sic.Apollo.Resources.Resources.LabelForCancel" onclick="closeSelectOffice()" />                
            </div>            
</div>
<script>   
    var printMedicalCareId;
    function printMedications(medicalCareId){
        printMedicalCareId = medicalCareId;
        @if(multipleOffice)
        {
            <text>
            $("#officeSelect").dialog({ autoOpen: false,
                show: "fast",
                height: "auto",
                width: "400px",
                modal: true,
                title: '@Sic.Apollo.Resources.Resources.LabelForPrint',
                resizable: false,
                close: function () { }
            });
            $("#officeSelect").dialog("open");               
            </text>
        }
        else
        {
            @:printMedicationsConfirmation();
        }
    }
    function printMedicationsConfirmation(){
        var contactLocationId = 0;
        @if(multipleOffice)
        {
            <text>
                contactLocationId = $("#officeSelect .office_active").attr('contactLocationId');
                $(".medicationoffice").hide();
                $("#medicationoffice" + contactLocationId).show();
            </text>
        }
        else{
            @:$(".medicationoffice").show();
        }        
        var url = "@Url.Action("PrintPatientMedication","Patient")?medicalCareId=" + printMedicalCareId + "&contactLocationId=" + contactLocationId;
        window.open(url);
        //var options = { mode : "iframe" };        
        //$("#medicationprintlist").html($("#medicationprintlist" + printMedicalCareId).html());
        //$("#medicationPrint").printThis( options );
        closeSelectOffice();
    }
    function closeSelectOffice() {
         $("#officeSelect").dialog("close");
    }    
    function selectOffice(contactLocationId) {
        $("#officeSelect .office").removeClass('office_active');
        $("#officeSelect .office").addClass('office_inactive');
        $("#officeSelect #officeButton" + contactLocationId).removeClass('office_inactive');
        $("#officeSelect #officeButton" + contactLocationId).addClass('office_active');        
    }
</script>