@model Sic.Apollo.Models.Pro.InsuranceInstitution

@{
    ViewBag.Title = @Sic.Apollo.Resources.Resources.LabelForDelete;
}

<h2>@Sic.Apollo.Resources.Resources.LabelForDelete</h2>

<h3>@Sic.Apollo.Resources.Resources.MessageDeleteConfirmation</h3>
<fieldset>
    <legend>@Sic.Apollo.Resources.Resources.LabelForInsuranceInstitution</legend>

    <div class="display-label">@Sic.Apollo.Resources.Resources.LabelForFirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.FirstName)
    </div>

    <div class="display-label">@Sic.Apollo.Resources.Resources.LabelForPhoneNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.PhoneNumber)
    </div>

    <div class="display-label">@Sic.Apollo.Resources.Resources.LabelForEmail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.Email)
    </div>

    <div class="display-label">@Sic.Apollo.Resources.Resources.LabelForDefaultWebSite</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact.WebSite)
    </div>

    <div class="display-label">@Sic.Apollo.Resources.Resources.LabelForActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>
  
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Sic.Apollo.Resources.Resources.LabelForDelete" /> |
        @Html.ActionLink(@Sic.Apollo.Resources.Resources.LabelForBackToList, "Index")
    </p>
}
